# dependencies
/node_modules

# next.js
/.next/
/out/

# Lock files
package-lock.json

# production
/build

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo
next-env.d.ts
